[submodule "my_plugins/vimtex"]
	path = my_plugins/vimtex
	url = https://github.com/lervag/vimtex/
[submodule "my_plugins/ultisnips"]
	path = my_plugins/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "my_plugins/vim-numbertoggle"]
	path = my_plugins/vim-numbertoggle
	url = https://github.com/jeffkreeftmeijer/vim-numbertoggle
